.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 80%;
  flex-wrap: wrap;
  .logo {
    cursor: pointer;
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 1rem;
    }
  }
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
    justify-content: space-between;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $c-primary;
  }
}

.intro-images svg {
  left: 0;
  top: 0;
}

.splash {
  position: absolute;
  top: 00%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $c-primary;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

#plant-left {
  animation: plant 3.5s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#plant-right {
  animation: plant 2.5s ease-in-out infinite alternate 0.5s;
}

#me {
  animation: me 2s ease infinite alternate;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
  padding-top: 10px;
}

@keyframes plant {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-20%);
  }
  30% {
    transform: translateY(0%);
  }
}

@keyframes me {
  from {
    transform: rotatez(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
